* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-image: linear-gradient(
      90deg,
      rgba(227, 187, 29, 0.43601190476190477) 32%,
      rgba(227, 187, 29, 0.36878501400560226) 100%
    ),
    url(pexels-bich-tran-760710.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: cover;
}
div.smalNavButton {
  display: none;
}
div.card:hover {
  transform: scale(1.1);
  transition-duration: 0.7s;
  cursor: pointer;
}
div.smalNavButton button:hover {
  color: grey !important;
}
div.lgNavButton button:hover {
  color: grey !important ;
}
img.addIco:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (max-width: 430px) {
  div.smalNavButton {
    display: block;
  }
  div.lgNavButton {
    display: none;
  }
}
