* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-image: linear-gradient(
      90deg,
      rgba(227, 187, 29, 0.43601190476190477) 32%,
      rgba(227, 187, 29, 0.36878501400560226) 100%
    ),
    url(pexels-bich-tran-760710.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: cover;
}

div.smalNavButton {
  display: none;
}
div.card {
  transition-duration: 0.7s;
}
div.card:hover {
  transform: scale(1.1);
  transition-duration: 0.7s;
  cursor: pointer;
}
div.smalNavButton button:hover {
  color: grey !important;
}
div.lgNavButton button:hover {
  color: grey !important ;
}
img.addIco:hover {
  transform: scale(1.1);
  cursor: pointer;
}
div.container i.fa-bars:hover {
  border-radius: 3px;
  cursor: pointer;
  background-color: orange;
}
div.container i.fa-square:hover {
  border-radius: 3px;
  cursor: pointer;
  background-color: orange;
}
div.container i.fa-square {
  border-radius: 3px;
  cursor: pointer;
  background-color: orange;
}
div.noteviewer div form textarea {
  width: 900px;
  height: 480px;
  padding: 15px;
  box-shadow: none;
  resize: none;
}
@media only screen and (max-width: 995px) {
  section.container div div.col-12 {
    height: 340px;
  }
  section.container div.d-flex-col div.col-12 {
    height: 200px;
  }
  div.noteviewer div form textarea {
    width: 550px;
    height: 500px;
  }
}
@media only screen and (max-width: 615px) {
  div.noteviewer div form textarea {
    width: 350px;
    height: 500px;
  }
}
@media only screen and (max-width: 430px) {
  div.smalNavButton {
    display: block;
  }
  div.lgNavButton {
    display: none;
  }
  section.container div.d-flex-col div.col-12 {
    height: 250px;
  }
  div.noteviewer div form textarea {
    width: 250px;
    height: 450px;
  }
}
@media only screen and (min-width: 995px) {
  section.container div div.col-12 {
    height: 340px;
  }
  section.container div.d-flex-col div.col-12 {
    height: 160px;
  }
}
.noteviewer {
  display: none;

  background-image: url(notebg1.jpg);
  background-size: cover;
  background-position: 0px -40px;
  opacity: 97%;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.noteviewer div form textarea:focus {
  box-shadow: none;
  resize: none;
}
div.noteviewer div i.fa-x:hover {
  background-color: orange;
  cursor: pointer;
}
div.noteviewer div div div.spinner-border {
  display: none;
}
